[submodule "pma-voice"]
	path = pma-voice
	url = https://github.com/AvarianKnight/pma-voice
[submodule "vMenu"]
	path = vMenu
	url = https://github.com/TomGrobbe/vMenu
# ProjectError
[submodule "ProjectError/npwd"]
	path = ProjectError/npwd
	url = https://github.com/project-error/npwd
[submodule "ProjectError/pefcl"]
	path = ProjectError/pefcl
	url = https://github.com/project-error/pefcl
[submodule "ProjectError/screenshot-basic"]
	path = ProjectError/screenshot-basic
	url = https://github.com/project-error/screenshot-basic
[submodule "ProjectError/esx-npwd"]
	path = ProjectError/esx-npwd
	url = https://github.com/overextended/esx-npwd
# Overextended
[submodule "Overextended/oxmysql"]
	path = Overextended/oxmysql
	url = https://github.com/overextended/oxmysql
[submodule "Overextended/ox_core"]
	path = Overextended/ox_core
	url = https://github.com/overextended/ox_core
[submodule "Overextended/ox_lib"]
	path = Overextended/ox_lib
	url = https://github.com/overextended/ox_lib
[submodule "Overextended/ox_target"]
	path = Overextended/ox_target
	url = https://github.com/overextended/ox_target
[submodule "ProjectError/pefcl-esx"]
	path = ProjectError/pefcl-esx
	url = https://github.com/project-error/pefcl-esx
# andristum
[submodule "dpclothing"]
	path = dpclothing
	url = https://github.com/andristum/dpclothing
# esx-framework
[submodule "esx-legacy"]
	path = esx-legacy
	url = https://github.com/esx-framework/esx-legacy
# Manvaril
[submodule "vehcontrol"]
	path = vehcontrol
	url = https://github.com/Manvaril/vehcontrol
