[submodule "pma-voice"]
	path = pma-voice
	url = https://github.com/AvarianKnight/pma-voice
[submodule "vMenu"]
	path = vMenu
	url = https://github.com/TomGrobbe/vMenu
[submodule "npwd"]
	path = npwd
	url = https://github.com/project-error/npwd
[submodule "pefcl"]
	path = ProjectError/pefcl
	url = https://github.com/project-error/pefcl
[submodule "screenshot-basic"]
	path = ProjectError/screenshot-basic
	url = https://github.com/project-error/screenshot-basic
[submodule "esx-npwd"]
	path = ProjectError/esx-npwd
	url = https://github.com/overextended/esx-npwd